.desktop {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;

  background: #fff;
  overflow:auto;
}

.desktop .ellipse {
  position: absolute;
  font-family: "Major Mono Display-Regular", monospace;
  font-size: clamp(40px, 12vw, 180px);
  top: 35%;
  transform: translateY(-50%);
}

.desktop .text-wrapper {
  position: absolute;
  font-family: "Major Mono Display", monospace;
  font-size: clamp(40px, 12vw, 180px);
  top: 35%;
  transform: translateY(-50%);
}

.desktop .group {
  position: absolute;
  top: 50%;
  width: 60vw;
  max-width: 800px;
  height: auto;
}

.desktop .line {
  width: 100%;
}

.desktop .ellipse-2 {
  position: absolute;
  top: 0;
  left: 750px;
  width: 21px;
  height: 21px;
  background-color: #ffd093;
  border-radius: 10.55px;
}

.desktop .ellipse-3 {
  position: absolute;
  top: 1px;
  left: 0;
  width: 21px;
  height: 21px;
  background-color: #ffd093;
  border-radius: 10.55px;
}

.desktop .group-2 {
  position: absolute;
  top: 500px;
  left: 235px;
  width: 852px;
  height: 130px;
}

.desktop .rectangle {
  position: absolute;
  top: 65%;
  width: clamp(250px, 50vw, 500px);
  height: clamp(60px, 12vw, 120px);
  background: #ffd9a9;
  width: 100%;
  height: 100%;
  border-radius: 18px;
}

.desktop .text-wrapper-2 {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  font-family: "Anonymous Pro", monospace;
  font-size: clamp(44px, 5vw, 85px);
  cursor: pointer;
}

.menu-button {
  background-color: #ffd9a9;
  border: none;
  border-radius: 18px;

  width: 820px;
  height: clamp(60px, 12vw, 130px);

  font-family: "Anonymous Pro", monospace;
  font-size: clamp(20px, 5vw, 85px);

  cursor: pointer;
  transition: 0.25s;

  transform: translateY(-50%);
}

.decor-left,
.decor-right {
  position: absolute;
  width: clamp(40px, 8vw, 120px);
  height: auto;
}

.decor-left {
    bottom: 37%;
    left: -2.7%;
}

.decor-right {
    bottom: 69%;
    right: 1.5%;
}