:root {
  --q-k-nm-VV: rgba(182, 191, 228, 1);
  --vrtl-3g: rgba(214, 167, 225, 1);
  --x-6yc-473: rgba(239, 198, 198, 1);
  --u-pot32: rgba(182, 228, 197, 1);
  --hx-oto5: rgba(212, 76, 79, 1);
  --ib-r1-ye: rgba(188, 81, 194, 1);
  --wn-v-ud-n: rgba(81, 194, 149, 1);
  --b-ac-8xf: rgba(81, 121, 194, 1);
}